@page
@model IndexModel
@{
    ViewData["Title"] = "Generic Warehouse Website";
}

<div style="padding:10px">
    <img src="https://i.imgur.com/5aFb2Up.png" alt="Company Logo" class="center-block" />
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Category Links</h2>
        <ul>
            <li><a href="~/Components/">Components</a></li>
            <li><a href="~/Tools/">Tools</a></li>
            <li><a href="~/Products/">Products (TODO)</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Employee Directory</h2>
        <ul>
            <li><a href="~/Directory/Basicemployees">Basic employees</a></li>
            <li><a href="~/Directory/Managers">Managers</a></li>
        </ul>
    </div>
</div>
