@page
@model GenericWarehouseWebsite.Pages.Tools.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Tool</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tool.ID" />
            <div class="form-group">
                <label asp-for="Tool.PartNumber" class="control-label"></label>
                <input asp-for="Tool.PartNumber" class="form-control" />
                <span asp-validation-for="Tool.PartNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tool.Name" class="control-label"></label>
                <input asp-for="Tool.Name" class="form-control" />
                <span asp-validation-for="Tool.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tool.Description" class="control-label"></label>
                <input asp-for="Tool.Description" class="form-control" />
                <span asp-validation-for="Tool.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tool.Bin" class="control-label"></label>
                <input asp-for="Tool.Bin" class="form-control" />
                <span asp-validation-for="Tool.Bin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tool.Quantity" class="control-label"></label>
                <input asp-for="Tool.Quantity" class="form-control" />
                <span asp-validation-for="Tool.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tool.Cost" class="control-label"></label>
                <input asp-for="Tool.Cost" class="form-control" />
                <span asp-validation-for="Tool.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
